body {
    background: black;
    background: linear-gradient(white, black);
    color: white;
}

h3 {
    color: darkslateblue;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
