body {
    background: beige;
    background: linear-gradient(darkbrown, lightbrown);
    color: white;
}

h3 {
    color: darkslateblue;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
