body {
    background: ;
    background: linear-gradient(#42412A, );
    color: #42412A;
}

h3 {
    color: #E66A4E;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
